<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0"
         metadata-complete="true">
    <servlet>
        <servlet-name>multiScan</servlet-name>
        <servlet-class>com.web.severlet.multiScan</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>multiScan</servlet-name>
        <url-pattern>/multiScan</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>single</servlet-name>
        <servlet-class>com.web.severlet.singleScan</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>single</servlet-name>
        <url-pattern>/single</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addressPhaseScan</servlet-name>
        <servlet-class>com.web.severlet.addressPhaseScan</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addressPhaseScan</servlet-name>
        <url-pattern>/addressPhaseScan</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>task</servlet-name>
        <servlet-class>com.web.severlet.queryTaskStatus</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>task</servlet-name>
        <url-pattern>/task</url-pattern>
    </servlet-mapping>

</web-app>